.sidebar {

  width: 220px;

  height: 100vh;

  background-color: #0f172a;

  position: fixed;

  top: 0;

  left: 0;

  padding: 25px 20px;

  color: white;
}

/* LOGO */

.sidebar h1 {

  font-size: 42px;

  margin-bottom: 50px;

  text-align: center;
}

/* MENU */

.sidebar ul {

  list-style: none;
}

.sidebar ul li {

  margin-bottom: 30px;
}

.sidebar ul li a {

  text-decoration: none;

  color: #cbd5e1;

  font-size: 18px;

  display: block;

  transition: 0.3s;
}

.sidebar ul li a:hover {

  color: white;
}